@import "../../styles/functions";

$gray: rgba(105, 105, 105, 0.3);

.music {
  padding: 50px 0;
  background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.15) 0%, rgba(0, 0, 0, 0.85) 100%),
    url(../../assets/img/player.jpg);
  background-size: cover;
  background-position: 0 75%;

  @include screen(md) {
    padding: 100px 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-top: 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  font-family: "gilroy", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);

  @include screen(md) {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 60px;
  }

  svg {
    font-family: 'gilroy', sans-serif;
    font-size: 36px;
    width: 300px;
    height: 44px;

    @include screen(md) {
      font-size: 48px;
      width: 400px;
      height: 60px;
    }

    text {
      fill: none;
      stroke: #fff;
      stroke-width: 2px;
      stroke-linejoin: round;
    }
  }
}

.playerWrap {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.player {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 16px;

  @include screen(md) {
    height: 330px;
    border-radius: 10px;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
}

.albumWrap {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding-bottom: 15px;

  @include screen(md) {
    padding-left: 15px;
    padding-bottom: 0;
  }
}

.albumTitle {
  font-family: "gilroy";
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;

  @include screen(md) {
    padding: 25px 30px;
  }
}

.albumView {
  background-color: $gray;
  padding-top: 15px;
  padding-bottom: 15px;
}

.album {
  font-family: "Acme";
  font-size: 18px;
  display: block;
  padding: 4px 30px;
  cursor: pointer;
  transition: background-color 0.125s, color 0.125s;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    background-color: transparent;
    transition: background-color 0.125s;
    z-index: -1;
  }

  &:hover {
    color: #ffffff;

    &::after {
      background-color: #d64545;
    }
  }
  &.active {
    color: #ffffff;

    &::after {
      background-color: #b00000;
    }
  }
}

.rewind {
  border-left: 1px solid $gray;
}

.controls {
  padding: 15px 0;
  margin-left: 30px;
  margin-right: 45px;
  border-bottom: 1px solid $gray;
  display: flex;
}

.controlsWrap {
  display: block;
  font-size: 0;
}

.controlsButton {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  background: 0;
  padding: 0;
  margin-right: 10px;

  &:focus {
    outline: 0;
  }
  &:hover {
    :global(.svg-inline--fa path) {
      fill: #b00000;
    }
  }

  :global(.svg-inline--fa) {
    width: 100%;
    height: 100%;
    path {
      transition: fill 0.25s;
    }
  }
}

.buy {
  margin-left: auto;
  display: flex;
  align-items: center;

  :global(.svg-inline--fa) {
    margin-right: 0.1em;
    vertical-align: -0.3em;
  }
}

.small {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.buyLink {
  display: inline-flex;
  padding: 10px 14px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: acme;
  font-size: 13px;
  color: #fff;
  background-color: transparent;
  transition: all 0.25s;
  position: relative;
  z-index: 110;
  overflow: hidden;
  box-shadow: 0px 3px 5px transparent;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #b00000;
    z-index: -2;
  }

  &::after {
    position: absolute;
    content: "";
    transform: scaleX(0.01) translateX(50%) translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -2;
    transition: all 0.25s;
    border-radius: 50%;
  }

  &:hover {
    opacity: 1;

    &::after {
      transform: scaleX(1) translateY(0);
      border-radius: 0;
    }
  }

  & > span {
    margin-left: 0.3rem;
  }
}

.content {
  padding: 15px 14px 15px 0;
}
