@import "../../styles/functions";

$header-height: 96px;

.root {
  height: 100vh;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  z-index: -1;
}

.navbar {
  height: $header-height;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;

  @include screen(md) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.brand {
  font-family: acme;
  color: #fff;
  font-size: 36px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 40px;

  @include screen(md) {
    margin-bottom: 0;
  }
}

.accent {
  color: #b00000;
}

.content {
  height: calc(100% - $header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  z-index: 100;
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 14px;
  color: #a2a2a2;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px 10px;

  & a {
    color: #a2a2a2;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin: 0 0.2rem;
  }
}

.about {
  max-width: 1000px;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 30% auto;
  column-gap: 4rem;
}

.aboutImg {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center 40%;
  border-radius: 2.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.aboutCaption {
  padding: 0.5rem;
  padding-left: 3rem;
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #2e2e2e;
  opacity: 0.9;
}

.board {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
}

.aboutText {
  padding: 1.5rem 2rem;
  font-size: 18px;
  line-height: 1.6;
  max-height: 60vh;
  height: auto;

  & > p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
