@import "../../../styles/functions";

$gray: rgba(0, 0, 30, 0.15);

.albumWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.albumTitle {
  font-family: "gilroy";
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #1a1a1a;

  @include screen(md) {
    padding: 20px;
  }
}

.albumView {
  background-color: $gray;
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 1;
}

.album {
  font-family: "Acme";
  font-size: 18px;
  display: block;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.125s, color 0.125s;
  position: relative;
  z-index: 0;
  color: #4c4c4c;
  transition: all 0.125s;

  &:hover {
    color: #1a1a1a;
    padding-left: 40px;
  }
  &[data-selected="true"] {
    background-color: #1a1a1a;
    color: #ffffff;
    padding-left: 30px;
  }
}
