@import '../../styles/functions';

.header {
  height: 50px;
}

.navbar {
  background-color: #fff;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  @include screen(md) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.brand {
  font-family: acme;
  color: #253521;
  font-size: 22px;
  text-decoration: none;
}

.accent {
  color: #9B1919;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
