@import "../../../styles/functions";

.wrap {
  padding: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 5px 0;
  display: block;
  cursor: pointer;
  transition: background-color 0.125s, color 0.125s;
  color: #1a1a1a;
  display: flex;
  align-items: center;

  &:hover {
    .playButton {
      opacity: 1;
    }
  }

  &[data-selected="true"] {
    .playButton {
      opacity: 1;
    }
  }

  &:hover,
  &[data-selected="true"] {
    .name {
      transform: none;
    }
  }
}

.playButton {
  padding: 0;
  border: 0;
  background: 0;
  width: 24px;
  height: 24px;
  color: #1a1a1a;
  opacity: 1;
  transition: all 0.125s;
  display: flex;
  justify-content: center;
  align-items: center;

  @include screen(md) {
    opacity: 0;
  }

  &:hover {
    color: #000;
  }
}

.name {
  font-size: 16px;
  letter-spacing: 0.01rem;
  margin-left: 6px;
  transition: all 0.125s;

  @include screen(md) {
    transform: translateX(-30px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
